body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#help-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#help-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.hidden {
    display: none !important;
}

#close-help {
    position: absolute;
    top: 10px;
    right: 10px;
}

.main-panel {
    position: relative;
    flex-grow: 1;
    height: 90%;
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr 80% 1fr;
    align-content: center;
}

#help-button {
    position: absolute;
    right: 30px;
    top: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

#history-container {
    grid-row: 1;
    grid-column: 2;
    align-self: end;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.history-item {
    padding: 5px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
}

.error-text {
    color: red;
}

#input-container {
    grid-row: 2;
    grid-column: 2;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

#variable-assignment-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-area {
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.half-width {
    width: 48%;
}

#input-area {
    width: 100%;
}

#formatted-display {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    height: 50px;
    border-top: 1px solid #ccc;
    font-size: 1.2em;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    overflow-x: auto;
    white-space: nowrap;
}

.side-panel {
    width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#left-panel {
    box-sizing: border-box;
    overflow-y: auto;
    gap: 10px;
}

.variable-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    min-height: 50px;
}

.variable-content {
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-right: 10px;
}

.variable-name {
    font-weight: bold;
}

.variable-delete {
    cursor: pointer;
    flex-shrink: 0;
}

.variable-delete .material-symbols-outlined {
    opacity: 0.7;
}

.variable-item.active {
    background-color: #bcbcbc;
}

#right-panel button {
    margin-bottom: 10px;
}
